a:link {
  /* 방문하지 X */
  color: blue;
  text-decoration: none; /* 밑줄 없앰 */
}

a:visited {
  /* 
    방문한 링크의 기본 스타일링
    : 보라색 글자색 + 밑줄
  */
  color: purple;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: black;
}

/* 예제 실습 */

#hoverButton:hover {
  color: white;
  background-color: red;
}

#activeButton:active {
  color: black;
  background-color: yellow;
}

#focusInput:hover {
<<<<<<< HEAD
  border: 12px solid green;
  padding: 20px;
}
=======
  border: 12px solid green; 
  padding: 20px;
}  
>>>>>>> 92762d5e59c16da4080f007a3eac5a98a6c730d4

input[type="checkbox"]:checked + label {
  background-color: yellow;
}

input[id="disabledInput"]:disabled {
  color: white;
  background-color: gray;
}