.container {
  width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

header {
  margin: 0px 0px 20px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #383d40;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand-text {
  display: flex;
  padding: 15px;
  padding-left: 0;
  height: 50px;
}

.bt-left {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  line-height: 17px;
}

.bt-right {
  padding: 1px 3px;
  line-height: 9px;
  font-size: 11px;
  font-weight: 600;
  color: #aaa;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  color: #fff;
}

.profile-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.dropdown-toggle .name {
  padding: 0px 10px;
}

.dropdown-toggle .fa-caret-down {
  font-size: 11px;
}

/*! main 영역 */
.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 9px;
}

.pull-left {
  margin: 20px 0px 10px;
  font-size: 36px;
  font-weight: 400;
}

.pull-right {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  height: 34px;
  width: 325px;
}

.search-project {
  position: relative;
  width: 226.5px;
  height: 34px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 42.5px 6px 12px;
  width: 226.5px;
  height: 34px;
  background-color: #fff;
  color: #555;
}

.search-project .fa-magnifying-glass {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}

.form-control:focus {
  border-color: #2fafff;
  outline: 0;
}

.btn-toggle {
  display: flex;
  align-items: center;
  width: 80px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.change-viewtype {
  background-color: #fff;
  color: #333;
  border: none;
  width: 39px;
  height: 32px;
  padding: 6px 12px;
  cursor: pointer;
}

.btn-toggle .change-viewtype:first-child {
  border-right: 1px solid #ccc;
}

.active {
  background: radial-gradient(circle, white, #f0f0f0, #ccc);
}

.change-viewtype:not([type=active]):hover {
  background-color: #e6e6e6;
}

.row {
  display: flex;
  height: 680px;
}

.nav-stacked {
  margin: 0;
  padding: 0px 15px 0px 0px;
  width: 277.5px;
  list-style: none;
}

.nav-stacked-list {
  margin-bottom: 2px;
  border-radius: 2px;
  padding: 10px 15px;
  width: 262.5px;
  height: 40px;
  cursor: pointer;
}

.active-list {
  background-color: #3498db;
  color: #fff;
}

/* active-list 클래스가 아닐 때 스타일 규정 */
.nav-stacked-list:not(.active-list):hover {
  /* 
    정확하게 .active-list 클래스가 아닌 요소만 지정 
    EX) class="active-listener", class="active-list-first" 포함하지 X
  */
}

.nav-stacked-list:not([class *= active-list]):hover {
  /*  
    .active-list의 문자열을 포함하는 모든 요소를 제외
    EX) "my-active-list", "active-listener" 요소들 까지 포함하여 스타일 지정
  */
  background-color: #eee;
}

.project-main {
  padding-left: 15px;
  width: 862.5px;
}

.project-action {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 1px solid #adadad;
  border-radius: 2px;
  padding: 6px 12px;
  height: 34px;
  cursor: pointer;
}

.btn-default {
  background-color: #fff;
}

.btn-default:hover {
  background-color: #eee;
}

.btn-primary {
  background-color: #3498db;
  color: white;
}

.btn-primary:hover {
  background-color: #357ebd;
}

.project-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px;
}

.project-item {
  padding: 0px 15px;
}

.project-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 252.5px;
  margin-bottom: 20px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
}

.item-option-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  width: 35px;
  height: 22px;
  cursor: pointer;
}

.item-option-btn:hover {
  border: 1px solid #ddd;
  background-color: #e6e6e6;
}

.item-option-btn .fa-solid {
  font-size: 11px;
  margin: 0px 1px;
}

.item-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 242.5px;
  height: 162.5px;

  border: 1px solid #ddd;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
}

.item-img-container img {
  width: 100%;
}

.item-content {
  padding: 9px;
}

.item-title {
  margin: 6px 0px 10px;
  font-size: 24px;
  color: #3498db;
}

.item-description {
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
  height: 48px;
  padding-bottom: 12px;
  font-size: 12px;
}

.project-time {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
}

.project-time .fa-clock {
  font-size: 12px;
}

.btn-test {
  padding: 1.8px 5.4px 2.7px;
  height: auto;
  line-height: 8px;
  font-size: 10px;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
}

/*! 푸터 영역 */
.container .dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 114.5px;
  padding: 0px 15px;
  width: 1140px;
  height: 79px;
}

.cd-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #eee;
  width: auto;
  height: 61px;
}

.cdf-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 341px;
}

.bsm-name {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.bsm-left {
  color: #3498db;
}

.bsm-right {
  color: #3498db;
  font-weight: 600;
}

.cdf-right {
  line-height: 17px;
  font-size: 11.5px;
}

.cdf-right .fa-copyright {
  font-size: 11.5px;
}