:root {
  --main-color: #3498db;
  --accent-color: #f39c12;
  --light-bg: #ecf0f1; /* 밝은 배경 색상 */
  --dark-text: #2c3e50;
  --light-text: #bdc3c7;
}

body {
  /* 
  - 외부, 내부 여백 X 
  - 배경색: --light-bg
  - 글자색: --dark-text
  - 프로젝트 내의 요소들은 box 모델 사이즈에 내부 여백과 테두리를 포함해서 설정
  */
}

header, nav, section, footer {
  /* 
  전체 페이지 레이아웃 
  - 내부 여백: 20px
  - 외부 여백: 10px
  - 배경색: 흰색
  - 테두리 둥글게: 10px
  - 박스 그림자
    : (가로X) 하위에 4px, 퍼짐효과 6px, alpha 0.1(rgba)
  - 변경 효과: 변형이 일어나면 0.3s 처음과 끝은 느리게 중간은 빠르게 효과
  */
}

header {
  /*  
  - 배경색: 선형 그라데이션(오른쪽 방향, 메인 > 강조)
  - 글자색: 흰색
  - 텍스트 그림자: 오른쪽 하단 1px씩, 번짐효과 2px, 검은색
  */
}

header h1, header p {
  /* 글자 정렬 - x축 기준 가운데 정렬 */
}