div {
  width: 100px;
  height: 100px;
  border: 1px solid #222;
}

/* 상하좌우에 같은 크기의 마진 */
#margin1 { margin: 50px; }

/* 상하 / 좌우 쌍으로 같은 크기의 마진 */
#margin2 { margin: 30px 50px; }

/* 상, 좌우, 하 순서로 마진 설정 */
#margin3 { margin: 30px 20px 50px; }

/* 상, 우, 하, 좌 순서의 마진 설정 */
#margin4 { margin: 30px 20px 50px 40px; }

/* 각 방향에 대한 마진 설정: margin-방향 */
#margin5 { margin-left: 50px; }

/* margin으로 요소 가운데 정렬 */
.div {
  width: 300px;
  height: 300px;
}

.center {
  width: 100px;
  /* 
  요소를 가운데 정렬하는 방법 
  : 가로축을 기준으로 좌우에 같은 값의 마진을 설정
  */
  margin: 0 auto;
  margin-top: 30px;
}
