/*
! 프로젝트 내의 전체 요소의 크기를 일관적으로 분배하기 위해 전체 선택자에 box-sizing을 border-box로 지정 
* {
  box-sizing: border-box;
} 
*/

/* body 요소 내의 모든 요소에 스타일 적용 */
body * {
  border: 1px solid blue;
}

#container * {
  border: 1px solid pink;
}

#container div {
  width: 200px;
  height: 200px;
}

.box1 {
  box-sizing: content-box;
  background-color: lightblue;
}

.box2 {
  box-sizing: border-box;
  background-color: lightcoral;
}

/* 콘텐츠 박스 */
#content-box {
  box-sizing: content-box;
  /* 내용 그 자체의 너비가 300px */
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 5px solid black;
}

/* 보더 박스 */
#border-box {
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 5px solid black;
}