body {
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #5a5a5a;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  /* display: block */
}

#no-result {
  color: #ff6b6b;
  font-weight: bold;
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  display: none; /* 기본적으로 숨김 처리 */
}