body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  width: 100%;
  max-width: 350px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #333;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #0056b3;
}

button {
  background-color: #0056b3;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004494;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

li:hover {
  background-color: #efefef;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

/* & css border-radius 상속 문제 해결 */
.container {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: auto;
}