/* b_media_queries.css */
/*
! :root
  - CSS에서 문서 트리의 루트 요소를 선택하는 선택자
  - HTML에서는 <html> 요소가 루트 요소
  
  : 전역 CSS 변수를 정의하여 페이지 전체에서 일관된 색상 및 스타일 값을 사용
    >> 문서의 어느 곳에서나 접근 가능

! 전역 변수의 장점
  - 재사용성: 일관된 스타일 값(색상, 폰트, 간격 등)을 여러 위치에서 사용 가능
  - 유지보수: 디자인 변경이 필요할 때, 변수 값만 수정하면 연결된 모든 요소의 스타일이 자동으로 업데이트
  - 가독성: 색상 코드나 숫자 대신 의미 있는 이름을 사용하여 스타일 시트의 가독성을 향상

! var() 함수
  : (전역)변수의 값을 가져오는 데 사용
  : 괄호 안에 변수 이름을 인수로 사용하며, 필요한 경우 두 번째 인수로 기본값을 지정 가능
  : 변수 값이 유효하지 않거나 정의되지 않은 경우 기본값이 사용
*/
:root {
  /* 주요 메인 배경색 */
  --main-bg-color: rgba(207, 232, 220, 0.2);
  /* 강조 배경색 (호버) */
  --highlight-bg-color: rgba(207, 232, 220, 0.7);
  /* 사이드바 배경색 */
  --sidebar-bg-color: rgba(207, 232, 220, 0.5);
  /* 링크 색상 */
  --link-color: #333;
  /* 테두리 색상 */
  --border-color: rgb(79, 185, 227);
  /* 강조 테두리 배경색 */
  --border-highlight: rgba(79, 185, 227, 0.3);
  /* 기본 테두리 색상 */
  --default-border: #666;
  /* 푸터 테두리 색상 */
  --footer-border-color: #ccc;
}

* {
  box-sizing: border-box;
}

body {
  width: 90%;
  /* 16px: 1em */
  margin: 2em auto;
}

a:link,
a:visited {
  color: var(--link-color);
}

nav ul,
aside ul {
  list-style: none;
  padding: 0;
}

nav a:link,
nav a:visited {
  background-color: var(--main-bg-color);
  border: 2px solid var(--border-color);
  text-decoration: none;
  display: block;
  padding: 10px;
  color: var(--link-color);
  font-weight: bold;
}

nav a:hover {
  background-color: var(--highlight-bg-color);
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  /* 
    grid 클래스를 그리드 레이아웃 컨테이너로 표시 
    : 자동 채우기로 200px에서 1fr 사이의 
      최소 크기를 가진 열로 반복하여 생성
    : 그리드 갭을 20px 설정
  */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.grid li {
  border: 1px solid var(--default-border);
  padding: 10px;
}

.related {
  background-color: var(--border-highlight);
  border: 1px solid var(--border-color);
  padding: 10px;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  padding: 10px;
}

article {
  margin-bottom: 1em;
}

/* 디바이스의 화면 너비가 40em(640px) 이상일 때 적용될 스타일 */
@media screen and (min-width: 40em) {
  /* 
    그리드 레이아웃으로 변경 (3:1 비율로 두 열을 구성) 
    + 열 사이 간격은 20px로 지정
  */
  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }

  nav ul {
    /* ul: flex 레이아웃의 컨테이너 */
    display: flex;
  }

  nav li {
    /* 
      li: flex 레이아웃의 아이템 
      - 속성값 1은 각 요소가 컨테이너 공간을 동등하게 차지
    */
    flex: 1;
  }
}

/* 화면 너비가 70em(1120px) 이상일 때 적용될 스타일 */
@media screen and (min-width: 70em) {
  /*  
    main 요소를 그리드 레이아웃 컨테이너로 표시
    >> 3:1 비율로 두 열을 구성
      + 열 사이의 간격을 20px 설정
  */
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }

  article {
    margin-bottom: 0;
  }

  footer {
    border-top: 1px solid var(--footer-border-color);
    margin-top: 2em;
  }
}